#body {
    background-color: RGB(225,225,225);
}
.header {
    background-color: #86CC61;
    padding: 1px 2px 1px 1px;
    text-shadow: 1px 1px 2px #000000;
}
#img1 {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center top;
}

#header {
    text-align: center;
    font-size: 25px;
    color: Black
    font-type: Javanese;
}
